<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="{$sub_file_url}assets/images/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{#SITE_NAME}</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="robots" content="index, follow" />
	<link rel="canonical" href="" />

	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,300;1,600&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="{#CSS_PATH}font-awesome.min.css" rel="stylesheet" type="text/css" />

	<link href="{#CSS_PATH}materialize.css" rel="stylesheet" type="text/css" />
	<link href="{#CSS_PATH}dashboard.css" rel="stylesheet" type="text/css" />



</head>
<body>