<body onload="load()">
<form method="post" action="http://localhost:8888/rainTPLDemo/console/">
<input type="text" name="name"/>
<input type="button" id="submit"/>
</form>
</body>
<script>
    function load() {
        document.getElementById('submit').addEventListener("click", function(){ 
            var myObject = JSON.stringify({"name":"John","age":30,"city":"New York"});
            var xhr = new XMLHttpRequest();
            xhr.open("POST","http://localhost:8888/rainTPLDemo/console/",false);
            xhr.setRequestHeader("Content-type","application/json");
            xhr.onreadystatechange = function(){
                if(xhr.readyState==4){console.log("xhr response:"+xhr.response)}
                alert(xhr.responseText);
            };
            xhr.send(myObject);
         });
    }
    
</script>