<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="utf-8" />
      <link rel="shortcut icon" href="{#ASSETS_PATH}images/favicon.ico" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{#SITE_NAME}</title>
      <meta name="description" content="{#SITE_DESCRIPTION}" />
      <meta name="keywords" content="" />
      <meta name="robots" content="index, follow" />
      <link rel="canonical" href="" />
      <!-- <link href="{#CSS_PATH}dashboard.css" rel="stylesheet" type="text/css" /> -->
   </head>
   <body>