<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--dashboard-->
		<div class="dashboard">
			<div class="row no-gutters">
				<div class="col-md-2">
					<div class="aside">
						<!--profile-->
						<!-- <div class="profile">
							<img src="{#ASSETS_PATH}images/user.png" alt="">
							<span>Welcome Admin</span>
						</div> -->
						<!--/profile-->
						<!--navigation-->
						<div class="navigation">
							<!-- <label><a href="{#SITE_URL}login" i class="fa fa-home mr-1" aria-hidden="true"></a></i> Home</label> -->
							<ul>
								<li><a href="{#SITE_URL}verify" class="waves-effect">Verify</a></li>
								<li><a href="{#SITE_URL}verified" class="waves-effect">Verified</a></li>
								<li><a href="{#SITE_URL}autoVerified" class="waves-effect">Auto Verified</a></li>
								<li><a href="{#SITE_URL}rejected" class="waves-effect">Rejected</a></li>
								<li><a href="{#SITE_URL}amber" class="waves-effect">Amber Folder</span></a></li>
								<li><a href="{#SITE_URL}red" class="waves-effect">Red Folder</a></li>
								<!-- <li><a href="{#SITE_URL}archive-folder" class="waves-effect">Archive Folder</a></li>								 -->
								<li><a href="{#SITE_URL}settings" class="waves-effect">Settings</a></li>
							</ul>
						</div>
						<!--/navigation-->
						<!--highChart-->
						<!-- <div class="highChart">
							<div id="chart-side" style="width:100%; height:375px;"></div>
						</div> -->
						<!--highChart-->
					</div>
				</div>